body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    background-color: #fff;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #004d99; /* Синий */
    margin-bottom: 20px;
}

.party-selection {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 20px;
}

.party-selection button {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.party-selection button.active {
    border-color: #cc0000; /* Красный */
    background-color: #ffe6e6; /* Светло-красный */
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(204, 0, 0, 0.2);
}

.party-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 50%;
}

.counter-display {
    margin-bottom: 20px;
}

.counter-display p {
    font-size: 1.2em;
    margin: 5px 0;
}

.vote-counts {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-weight: bold;
}

.vote-counts #party1-count {
    color: #cc0000; /* Красный */
}

.vote-counts #party2-count {
    color: #004d99; /* Синий */
}

.clickable-area {
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 50px 20px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.clickable-area:hover {
    background-color: #e9e9e9;
}

.clickable-area:active {
    transform: scale(0.98);
}